################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WitanraSecurity/WitanraSecurity/bin/Debug
/WitanraSecurity/WitanraSecurity/obj/Debug
