<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="FTP_Server" value="ftp://192.168.1.2/sda_part1/monitor/" />
    <add key="FTP_User" value="admin" />
    <add key="FTP_Password" value="741852" />
    <add key="Archive_Temporary_Dir" value="C:\monitor\" />
    <add key="Archive_Permanent_Dir" value="C:\monitor\archive\" />
    <add key="Temp_Dir" value="C:\monitor\temp\" />
    <add key="Archive_File_Format" value="yyyyMMdd-HHmmss" />
    <add key="Archive_Temporary_Count" value="30" />
    <add key="Archive_Permanent_Match_Patten" value="2016" />    
  </appSettings>
</configuration>